page-solicitar {
    #center{
        text-align:center;
    }
    #bandera0{
        align-self: center;
        padding-block-start: 40%;
    }
    #bandera{
        width:  100%;
        height: 100%;
    }
    #efectivo{
        width:  70%;
        height: 70%;
    }
}
